<!DOCTYPE html>
<html>
<meta charset="utf-8">

<!-- Example based on http://bl.ocks.org/mbostock/3887118 -->
<!-- Tooltip example from --
  -- http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html --
  -- -->

<style>
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    win_x = w.innerWidth || e.clientWidth || g.clientWidth,
    win_y = w.innerHeight|| e.clientHeight|| g.clientHeight;
    var margin = {top: 50, right: 50, bottom: 50, left: 50},
    width = win_x - margin.left - margin.right,
    height = win_y - 50 - margin.top - margin.bottom;

var mode = true;
var data;
var label;
var img_file;
var final_data;

var domain_x_min = 100000, domain_x_max = -100000;
var domain_y_min = 100000, domain_y_max = -100000;

var cValue = function(d) { return d.label;},
    color = d3.scale.category10();

var img_loc = function(d) {return "static/"+d.loc};

//Read related files from the csv


var xValue,
    xScale,
    xMap,
    xAxis;

// setup y
var yValue, // data -> value
    yScale, // value -> display
    yMap, // data -> display
    yAxis;


d3.text('static/data_example.csv', function(text) {  // NEW
  data = d3.csv.parseRows(text).map(function(row) {
    return row.map(function(value) {
      return +value;
    });
  });
  });                                                // NEW

d3.text('static/label_example.csv', function(text) {  // NEW
  label = d3.csv.parseRows(text);
  });                                                

d3.text('static/img_example.csv', function(text) {  // NEW
  img_file = d3.csv.parseRows(text);
  });
                                 
setTimeout(function(){ 

// Organize them into a single struct
final_data = [];
console.log(data);
for(var i = 0;i<data.length;i++){
	temp = {};
	temp["data"] = data[i];
	temp["label"] = label[i];
	temp["loc"] = img_file[i];
	final_data.push(temp);

	domain_y_max = Math.max(data[i][1],domain_y_max);
	domain_y_min = Math.min(data[i][1],domain_y_min);
	domain_x_max = Math.max(data[i][0],domain_x_max);
	domain_x_min = Math.min(data[i][0],domain_x_min);

}

  setTimeout(function(){



//Prepare the SVG
// setup x 
// add the graph canvas to the body of the webpage
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  	.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");




var toggle_button = d3.select('body').append('div').attr("class","label").text("single mode");
toggle_button.on("click", function(d) {
	var svg = d3.select("svg");
		if(mode){
			d3.selectAll(".dot").style("opacity",0);
			d3.selectAll('.legend').style("opacity",0);
			var pics = d3.selectAll('.pic')[0].length;
			if(pics){
				d3.selectAll('.pic').style("opacity",1);
			}
			else{
			draw_picture_points(svg);	
			}

			d3.select(this).text("all mode");
			mode = false;}
		else{
			d3.selectAll(".dot").style("opacity",1);
			d3.selectAll(".pic").style("opacity",0);
			d3.selectAll('.legend').style("opacity",1);
			mode = true;
			d3.select(this).text("single mode");
		}
      })






	draw_normal_points(svg);



  },500);


 }, 1000);
	

function draw_picture_points(svg){
//	<image xlink:href="firefox.jpg" x="0" y="0" height="50px" width="50px"/>

	  svg.selectAll(".pic")
      .data(final_data)
      .enter().append("image")
      .attr("xlink:href",img_loc)
      .attr("class", "pic")
      .attr("height", 42)
      .attr("width",42)
      .attr("x", xMap)
      .attr("y", yMap)
}

function draw_normal_points(svg){

    xValue = function(d) { return d.data[0];}; // data -> value
    xScale = d3.scale.linear().domain([domain_x_min-0.1,domain_x_max+0.1]).range([0, width]); // value -> display
    xMap = function(d) { return xScale(xValue(d));}; // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

// setup y
 yValue = function(d) { return d.data[1];}; // data -> value
    yScale = d3.scale.linear().domain([domain_y_min-0.1,domain_y_max+0.1]).range([height, 0]); // value -> display
    yMap = function(d) { return yScale(yValue(d));}; // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");

  // draw dots
  svg.selectAll(".dot")
      .data(final_data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3.5)
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", function(d) { return color(cValue(d));}) 
      .on("mouseover", function(d) {
          tooltip.transition()
               .duration(200)
               .style("opacity", .9);
          var html_str = "<img src=static/"+d.loc+" height=42 width=42>";
          tooltip.html(html_str)
               .style("left", (d3.event.pageX + 5) + "px")
               .style("top", (d3.event.pageY - 28) + "px");
      })
      .on("mouseout", function(d) {
          tooltip.transition()
               .duration(500)
               .style("opacity", 0);
      });

// add the tooltip area to the webpage

var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);
  // x-axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("First Components");

  // y-axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Second Components");
  // draw legend
  var legend = svg.selectAll(".legend")
      .data(color.domain())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  // draw legend colored rectangles
  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  // draw legend text
  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d;});

}

</script>
</body>
</html>
